*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;  padding: 0;
    font-family: 'Open sans',sans-serif;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.message {
   display: block;
   text-align: center;
   margin: 1em;
}

.message_title h1 {
    color: #512051;
    font-weight: 900;
}

.message_title p {
    font-weight: 300;
    font-size: 1rem;
    color: #212121;
}

form {
    width: 100%;
    background-color: #e0dcda;
    padding: 2em 1em;
    border-radius: 20px;
}

form input, textarea {
    width: 100%;
    border: 0;
    padding: 1em;
}

form input {
    margin: .5em 0;
}

form input:focus {
    outline: none;
}


form textarea {
    margin-top: 1em;
}

form textarea:focus {
    outline: none;
}


form input:focus::placeholder {
    color: transparent;
    transition: all .1s ease-in-out;
}

.btn_submit {
    display: block;
    background-color: #512051;
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
}



footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4em 1.5em;
    text-align: center;
    border-top: 1px solid #212121;
}

.footer_content {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
}

.links i {
    font-size: 1.5rem;
}

@media screen and (min-width: 768px) {
    .info1 {
        display: flex;
        gap: 1em;
    }
}
